body{
    margin: 0;
    padding: 0; 
    background-color: #000000;
}
div{
    margin: 0;
    padding: 0;
}

.border{
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: solid black;
}

.left{
    width: 25vw;
}
.right{
    width: 75vw;
}
.visibleBox{
    background-color: #121212;
}

.home {
    margin: 4px;
    padding: 14px;
    
    font-size:medium;
    font-weight: bolder;
    font-family: sans-serif;
    color: white;
}

.home ul{
    margin-top: 18px;
    padding: 0px;
}
.home ul li{
    width: 24px;
    padding-top: 8px;
    padding-bottom: 4px;
    list-style: none;
    display: flex;
    gap: 14px;
}

.library{
    margin: 4px;
    padding: 12px;
    height: 68vh;
    font-size:medium;
    font-weight: bolder;
    font-family: sans-serif;
    color: white;
}

.footer{
    position: relative;
    top: 40vh;
    width: 20vw;
    height: 20vh;
}

.clickBox{
    font-size: 10px;
    width: 90px;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 24px;
}

#cookies{
    font-size: 12px;
    width: 90px;
    margin-top: 8px;
    margin-left: 10px;
}

#language{
    padding-left: 10px;
    position: relative;
    top: 36vh;
    height: 24px;
    border-radius: 12px;
    border: 1px solid white;
}