body{
    margin: 0;
    padding: 0; 
    background-color: #000000;
}
div{
    margin: 0;
    padding: 0;
}

.border{
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: solid black;
}

.left{
    width: 25vw;
}
.right{
    width: 74vw;
}
.visibleBox{
    background-color: #121212;
}

.home {
    margin: 4px;
    padding: 14px;
    
    font-size:medium;
    font-weight: bolder;
    font-family: sans-serif;
    color: white;
}

.home ul{
    margin-top: 18px;
    padding: 0px;
}
.home ul li{
    width: 24px;
    padding-top: 8px;
    padding-bottom: 4px;
    list-style: none;
    display: flex;
    gap: 14px;
}

.library{
    margin: 4px;
    padding: 12px;
    height: 66vh;
}

.fonts{
    font-size:large;
    font-weight: bolder;
    font-family: sans-serif;
    color: white;
}

.footer{
    position: relative;
    top: 46vh;
    width: 20vw;
    height: 16vh;
}

.clickBox{
    font-size: 10px;
    width: 90px;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 24px;
}

#cookies{
    font-size: 12px;
    width: 90px;
    margin-top: 8px;
    margin-left: 10px;
}

#language{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    top: 42vh;
    height: 16px;
    border-radius: 12px;
    border: 1px solid white;
}

.header{
    justify-content: right;
    padding: 4px;
}

.credButtons{
    font-size:medium;
    font-weight: bolder;
    font-family: sans-serif;
    background-color: white;
    border-radius: 10px;
    height: 28px;
    padding-left: 12px;
    padding-right: 12px;
}

.playlists{
    height: 84vh;
    font-size: larger;
    padding: 12px;  
}

.cardContainer{
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    margin: 30px;
}

.card{
    position: relative;
    background-color: rgb(36, 36, 36);
    margin: 0px;
    padding: 8px;
    width: 160px;
    height: 320px;
    border-radius: 6px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.title{
    height: 36px;
}

.para{
    font-size: medium;
    position: relative;
    top: 40px;
}

.play{
    position: absolute;
    top: 200px;
    left: 120px;
    height: 40px;
    opacity: 0;
    transition: all 1s ease-out;
}

.play img{
    height: 40px;
}