.displayFlex{
    display: flex;
}
.justifyCenter{
    justify-content: center;
}
.alignCenter{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.imgtweak{
    position: relative;
    top:10px
}
.grid{
    display: grid;
    grid-auto-columns: auto;
}